/* google font family add and defult margin padding 0  */
*{
    margin: 0;
    padding: 0;
}
/* universial part  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #AAAAAA;
}
main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; */
}
.container{
    width: 1070px;
    background-color: #ffffff;
}
h4{
    margin-top: 50px;
    margin-left: 25px;
}
/* section one design */
.head-info-pic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.header-anima{
    width: 50%;
}
.product-headline{
    text-align: center;
    margin-top: 20px;
}
/* .header-anima a{
 margin:60px 0;
 margin-bottom: 150px;
} */
.header-photo{
    background-image:url(images/Circle%20design.svg);
}
.header-photo img{
width: 250px;
height: 250px;
margin-top: 50px;
margin-right: 81px;
}
.header-anima{
    margin-top: 15px;
    margin-left: 100px;
}
.header-anima h1{
    font-size:42px;
    font-weight: 700;
}
/* button design  */
a{
    text-decoration: none;
    color:#AAAAAA
}
.button{
background-color:#E02C6D;
height: 44px;
width: 196px;
border-radius: 41px;
padding: 7px 22px 7px 15px;
}
/* logo part design  */
.logo img{
width: 60px;
height: 50px;
}
.logoes{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo img{
    margin-right:20px;
    
}
hr{
 border: 1px solid gray;
 width: 800px;
margin-left: 140px;
}
/* products part design  */
.product{
    box-sizing: border-box;
    box-shadow: 1px 2px 4px gray;
}

.info{
    display: flex;
}
.product img{
    width: 300px;
    height: 256px;
}
.fill{
    color: goldenrod;
}
.emty{
    color: gray;
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px;
    margin-top: 20px;
    /* margin-left: 22px; */
    /* justify-self:auto; */
    place-items: center;
}

/* seemore button design  */
.see-more a{
    text-decoration: none;
    color: #E02C6D;
    margin-left:950px;
}
/* Extra-part design tracking  */
.tracking{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:120px;
    }
.left img{
    width: 300px;
    height: 220px;
    margin-right:30px;
    }
.right h2{
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}
.right a{
margin-left:20px;
}
/* footer design  */
footer{
    width:1070px;
    height: 110px;
    margin-top: 70px;
    background-color: #0A0826;
    color: #ffffff;
    text-align: center;
    padding: 12px 0;
}
.padd{
    padding: 7px;
}
/* hover effet  */
.product:hover .name{
    /* border: 1px solid green; */
    color: blueviolet;
}
.product:hover img{
    border: 2px solid blueviolet;
}
.button:hover {
    background-color: blueviolet;
}
.logo:hover img{
    border: 1px solid blueviolet;
    border-radius: 3px;
    padding: 0;
}
/* typing animation design on title  */
.typing-header{
    font-size:40px;
    position: relative;
    color: transparent;
    }
.typing-header::before{
    content: " Start your Journey as Influencer";
    position: absolute;
    top: 0;
    left: 0;
    color: blueviolet;
    animation: typing 6s  infinite ;
}
@keyframes typing {
    0%{
        content:'S|';
    }
    0%{
        content:'S|';
    }
    1%{
        content:'St|';
    }
    2%{
        content:'Sta|';
    }
    3%{
        content:'Star|';
    }
    4%{
        content:'Start|';
    }
    5%{
        content:'Start |';
    }
    6%{
        content:'Start y|';
    }
    7%{
        content:'Start yo|';
    }
    8%{
        content:'Start you|';
    }
    9%{
        content:'Start your|';
        
    }
    10%{
        content:'Start your |';
        
    }
    11%{
        content:'Start your J|';
        
    }
    13%{
        content:'Start your Jo|';
        
    }
    14%{
        content:'Start your Jou|';
        
    }
    15%{
        content:'Start your Jour|';
        
    }
    16%{
        content:'Start your Journ|';
        
    }
    
    17%{
        content:'Start your Journe|';
        
    }
    18%{
        content:'Start your Journey|';
        
    }
    19%{
        content:'Start your Journey |';
        
    }
    20%{
        content:'Start your Journey a |';
        
    }
    21%{
        content:'Start your Journey as|';
        
    }
    22%{
        content:'Start your Journey as In|';
        
    }
    23%{
        content:'Start your Journey as Infl|';
        
    }
    24%{
        content:'Start your Journey as Influ|';
        
    }
    25%{
        content:'Start your Journey as Influen|';
        
    }
    26%{
        content:'Start your Journey as Influence|';
        
    }
    27%{
        content:'Start your Journey as Influencer|';
        
    }
    28%,72%{
        content:'Start your Journey as Influencer|';
        
    }
    73%{
        content:'Start your Journey as Influence|';
        
    }
    74%{
        content:'Start your Journey as Influen|';
        
    }
    75%{
        content:'Start your Journey as Influe|';
        
    }
    76%{
        content:'Start your Journey as Influ|';
        
    }
    77%{
        content:'Start your Journey as Infl|';
        
    }
    78%{
        content:'Start your Journey as Inf|';
        
    }
    79%{
        content:'Start your Journey as In|';
        
    }
    80%{
        content:'Start your Journey as |';
        
    }
    81%{
        content:'Start your Journey a|';
        
    }
    82%{
        content:'Start your Journey|';
        
    }
    83%{
        content:'Start your Journe|';
        
    }
    84%{
        content:'Start your Journ|';
        
    }
    85%{
        content:'Start your Jour|';
        
    }
    86%{
        content:'Start your Jou|';
        
    }
    87%{
        content:'Start your Jo|';
        
    }
    88%{
        content:'Start your |';
        
    }
    89%{
        content:'Start your|';
        
    }
    90%{
        content:'Start you|';
        
    }
    91%{
        content:'Start yo|';
        
    }
    92%{
        content:'Start y|';
        
    }
    93%{
        content:'Start |';
        
    }
    94%{
        content:'Start|';
        
    }
    95%{
        content:'Star|';
        
    }
    96%{
        content:'Sta|';
        
    }
    97%{
        content:'St|';
        
    }
    98%{
        content:'S|';
        
    }
    99%{
        content:'|';
        
    }
    100%{
        content:'|';
        
    }
}
 /* Responsiveness for all divices     */
/* for Mobile phone  */
@media  only screen and (max-width:688px){
main{
    width: 100%;
    align-items: none;
    background-color: tomato;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h4{
    margin-top: 10px;
    margin-left: 60px;

}
.head-info-pic{
    width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-anima{
    width: 80px;
height: 80px;
}
.header-photo img{
    width: 80px;
    height: 80px;
    margin-top:20px;
    margin-left: 60px;

}
.typing-header{
    font-size: 20px;
}
.header-anima p{
display: none;
}
.button{
    margin: 5px,5px;
    padding: 5px;

}
.logoes{
    display: none;
}
hr{
    display: none;
}
.button{
    background-color:#E02C6D;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    padding: 3px 8px 3px 6px;
    white-space: nowrap;
    margin-bottom: 20px;
    }
    h2{
        display:none;
    }
.products{
width: 100%;
display: flex;
/* margin-right: 200px; */

flex-direction: column;
margin-top: 20px;
    }
.product{
width: 100%;
margin: 5px;

}
.tracking{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:10px;
    margin-top: 20px;

}
.left{
    width: 100%;
}
.right{
    width: 100%;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-top: 70px;
    background-color: #0A0826;
    color: #ffffff;
    padding: 12px;
    align-items: baseline;
}
.footer-text p,h4{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: small;
    }
.social-logo{
    width: 100%;
}

}




